@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
header{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding: 1px 3%;
  border: 2px solid indigo;
  
}
.nav_links{
  list-style-type: none;
}
.nav_links li{
  display:inline-block;
  padding: 0px 8px;
}
.btnTutors{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-family: lato;
  color:#0779E4;
  font-weight: 700;
  
}
.btnAdd{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-family: lato;
  color: #0779E4;
  font-weight: 700;
}
.btnTutors:hover{
  color:#B97EBB;
}
.btnAdd:hover{
  color:#B97EBB;
}
.wallpaper{
width:auto;
height: 70vh;
border: 4px solid green;
background-image: linear-gradient(to right, #0779e4 0%, #c32fc8 100%);
opacity: 0.41;
display: flex;
align-items: center;
justify-content: center;
}
.image{
width: 120px;
height: 100px;
border-radius: 10px;
box-shadow: #98acf8 0px 8px 15px 0px;
}
.tutorsPage{
  border: 5px solid black;
  display: flex;
  flex-direction: column;
 
}
.tutorsContainer {
  border: 5px solid red;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex:4;
  background-color:#edf7fc;
}
.tutorsContainer > div {
  margin: 6px;
}

.tutorContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  padding:0;
  font-family: "Product Sans";
  color:#3592ea;
  font-weight:700;
  margin-bottom: 1px;
  text-decoration: none !important;
}
.price{
  margin-top:1px;
  color:#3592ea;
  font-weight:500;
  visibility: hidden;
}
.addPage{
  border: 2px solid red;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-color: #bedcfa; */
}
.addTutors{
display: flex;
flex-direction: column;
align-items: center;
width: 500px;
height: 90vh;
background-image: linear-gradient(180deg, #0779e4 0%, #0f79e2 10%, #1479e1 11%, #737ccb 46%, #827cc8 57%, #977dc3 66%, #a47dc0 71%, #aa7dbf 76%, #b97ebb 100%);
opacity: 0.5;
border-radius: 30px;
border: 2px solid orange;


}

.addTutors input{
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
  border: 1px solid green;
}
.form{
  border: 1px solid blue;
  display: inline-flex;
  flex-direction: column;
  height:350px;
  align-items: center;
  justify-content: space-evenly;
}
.form > input {
  margin: 3px;
}
.addTutors p{
  color:white;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
input[type="submit"]{
  margin-top:40px;
  height: 40px;
  font-size: 20px;
  font-family: Lato;
  font-weight: 700;
  color: white;
  background-color: #590995;
  width:auto;
  
}
::placeholder {
  font-family: Lato;
  font-weight: 400;
  color:#0779e4;
  justify-content:center;
}
input[name='about']{
  height: 130px;
  padding-left:0;
  padding-top:0;
  padding-bottom:0.4em;
  padding-right: 0.4em;
}
.search {
  width:200px;
  height: 40px;
  border-radius:10px;
  border-style: none;
  opacity: 0.7;
  text-align: center;
  font-size: 20px;


}
.portfolioImg{
  height: 250px;
  width: 270px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.imgName{
  height: 500px;
  border: 1px solid red;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  width:auto;
}
.imgName > img{
  margin-bottom:140px;
  }
.imgName p{
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  color:white;
  text-transform: uppercase;
align-self: center;
}
.infoPage{
  display:flex;
 background-image: linear-gradient(180deg, #0779e4 0%, #0f79e2 10%, #1479e1 11%, #737ccb 46%, #827cc8 57%, #977dc3 66%, #a47dc0 71%, #aa7dbf 76%, #b97ebb 100%);
}
.about{
  display:flex;
  align-items:stretch;
  flex-direction:column;
  margin-left: 30px;
  border: 1px solid green;
  font-family: "Product Sans";
  color: white;
  
}
.about > p{
  margin-top: 100px;
  margin-right: 80px;
}
.book{
align-self: baseline;
margin-left: 35%;
}
.example_c {
  
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }
  .example_c:hover {
    color: #ffffff ;
    background: #b088f9;
    border-color: #b088f9;
    transition: all 0.4s ease 0s;
    border-radius: 5px;
    }
    .otherInfo{
      display: flex;
      flex-direction: column;
    }
    .tutoringInfo{
      font-weight:700;
      font-size: 17px;
      color: white;
    }
    button{
      border-radius: 5px;
      border: none;
      width: 160px;
      margin-top: 10px;
      height:20px;
    }
.paymentPage{
  display:flex;
  flex-direction:column;
}
.charged{
  align-self: center;
  color: skyblue;
  font-weight: bold;
}

.creditCard img{
  width: 50%;
  height: 50%;

}
.homePage{
background-image: linear-gradient(to right, #0779e4 0%, #c32fc8 100%);
opacity: 0.41;
width: 100%;
height: 100vh;
margin-top: 0%;
display: flex;
}
.getHelp{
  width: 195.5px;
  height: 70px;
  box-shadow: 0 6px 19px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  color: #0779e4;
  letter-spacing:2.22px;
  font-style: normal;
letter-spacing: 2.22px;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}
